<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <%- include('./Partials/head') %>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Bloggio</title>
  </head>
  <body>
    <%- include('./Partials/navbar') %>
    <div class="container mt-4">
      <form action="/user/signup" method="post" enctype="multipart/form-data">
        <div class="mt-4">
          <label for="name" class="form-label"
            >Name <span class="text-danger">*</span></label
          >
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            required
          />
        </div>
        <div class="mt-4">
          <label for="email" class="form-label"
            >Email address <span class="text-danger">*</span></label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            required
          />
        </div>
        <div class="mt-4">
          <label for="password" class="form-label"
            >Password <span class="text-danger">*</span></label
          >
          <input
            type="password"
            name="pass"
            class="form-control"
            id="password"
            required
          />
        </div>
        <div class="mt-4">
          <label for="profilePic" class="form-label">Profile Pic</label>
          <input type="file" name="img" class="form-control" id="profilePic" />
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 12px">
          Submit
        </button>
      </form>
    </div>
    <%- include('./Partials/script') %>
  </body>
</html>
